@{
    ViewData["Title"] = "Sign up for a Tour";
}

@model Tours

<h1>Enter Information for your Group</h1>
<div class="font-weight-bolder">
    <p>Your Day is @ViewBag.day</p>
    <p>Your Time is @ViewBag.time</p>
    <form method="post">
<<<<<<< Updated upstream
        <input type="hidden" asp-for="TimeSlot" value=@ViewBag.timeSlot />
        @*This helps us connect the different categories so it doesn't take up space and the user can pick an already made category*@
        <label asp-for="GroupName">Group Name: </label>
        <input asp-for="GroupName" /> <br />
=======
        <div asp-validation-summary="All"></div>
        @*This helps us connect the different categories so it doesn't take up space and the user can pick an already made category*@
        <label asp-for="@Model.Day">Day: @Model.Day</label>
        <br />
        <label asp-for="@Model.Time">Start Time: @Model.Time</label>
        <br />

        @*

        <label asp-for="@Model.GroupName">Group Name: </label>
               <input asp-for="@Model.GroupName" /> <br />
>>>>>>> Stashed changes

               <label asp-for="@Model.GroupSize">Group Size: </label>
               <input asp-for="@Model.GroupSize" /> <br />

               <label asp-for="@Model.EmailAddress">Email Address: </label>
               <input asp-for="@Model.EmailAddress" /> <br />

<<<<<<< Updated upstream
        <label asp-for="Phone">Phone Number: </label>
        <input asp-for="Phone" /> <br />
=======
               <label asp-for="@Model.Phone">Phone Number: </label>
               <input asp-for="@Model.Phone" /> <br />
        *@
>>>>>>> Stashed changes

        <button type="submit">Submit Tour</button>
        @* This is to make sure all the validations are meant upon entry *@

    </form>
</div>
